.ull{
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 22px;
	margin-top: 90px;
	padding: 0 15px;

}

.ull li{
	height: 115px;
	width: auto;
	border-radius: 10px;
	list-style: none;
	background: #8FCF4F;
	position: relative;
	border:	1px solid #8FCF4F;

}


.bg{
	height: 500%;
	width: 88%;
	background-color: #ddd;
	-webkit-clip-path: polygon(0 0, 100% 0, 92% 14%, 8% 14%);
	clip-path: polygon(0 0, 100% 0, 92% 14%, 8% 14%);
	z-index: 2;
	position: absolute;
	left:6%;
}

.team1, .team2{
	display: inline-block;
	z-index: 3;
	position:absolute;
	font-size: 33px;
	top: 20px;
}

.team1{
	right: 55%;}

.team2{
		left:55.5%;}

.vs{
	z-index: 3;
	position: absolute;
	left:47%;
	border-right: 2px solid black;
	border-left: 2px solid black;
	font-size: 40px;
	width: 70px;
	height: 67px;
	bottom: 33px;
	text-align: center;
	padding: 0 5px;
	padding-top: 13px;
}


.matchNo{
	
	z-index: 3;
	position: absolute;
	left:10px;
	top:15px;
}

.matchNo h2{
	left:16px;
	position: absolute;
	font-size: 37px;
	top: 3px;
}

.date{
	position: absolute;
	z-index: 3;
	left:14.5%;
	bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.date span{
	padding:0 340px;
}

.group{
	right: 23px;
	top: 15px;
	position: absolute;
 }

 .group h2{
	right:16px;
	position: absolute;
	font-size: 37px;
	top: 3px;
}