body{
	font-size: 16pt    /*basically 16pt font size is used in websites*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* position: relative; */
	/*background-position: center;
	background-size: cover;*/

}

header ul{
	margin: 0;
	position: relative;
}

header nav{
	background-color:#2f2f2f;
	margin: 0;
	padding-left: 0;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 9999;
}



header nav ul li{
	display: inline-block;
	padding: 0px;
    float: left;
    text-align: center;
    font-size: 16pt;
		position: relative;

}

header nav ul li a{
	text-decoration: none;
	color: #ffffff;
	padding: 18px 20px;
	display: inline-block;

	}



header nav ul li:hover{
	background-color: #3CB4f2;
	/* background-color: #333; */
	/* text-shadow: 2px 2px 3px #fff; */
}

.active{
    background-color: #3CB4f2;
	border-right: 0.5px solid #fff;
	border-left: 0.5px solid #fff;
}


#registration{
    width: 150px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    position: relative;
}