.container{
	overflow: hidden;
	margin: 20px auto;
	padding: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}

.container ul li{
	list-style: none;
	float: left;
	width: 300px;
	height: 370px;
	background: #FCE290;
	margin: 40px 10px 0px 0px;
	border-radius: 8px;
	position:relative;
	margin-top: 50px;
	text-align:center;
}



.container ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 22pt;
	display: inline-block;
	padding-top: 180px;
	padding-left: 60px;
	padding-right: 60px;

}

.team{
	position: absolute;
	top: 47px;
	padding: 5px 0;
	padding-left: 20px;
	letter-spacing: 2px;
	background-color: #737373;
	width: 100%;
  color: #fff;
	margin-left: 0;

}

.logo{
	left: 75px;
	width: 170px;
	height: 170px;
	position:absolute;
	top: -10px;
	border-radius: 110px 40px;


}


#title1{
	background-image: url(../image/kkr.jpg);
}
/* #title2{
	background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../image/kings.jpg");
} */

#title2{
	 background-image: url(../image/kings.jpg);
}

#title1,#title2{
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

   }



/* .chek ul li a{
	position: relative;
	width: 300px;
	height: 370px;
	text-decoration: none;
	background-color: rgba(0,0,0,0);
	box-sizing: border-box;
	display: block;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	margin-top: 20px;
	overflow: visible;
	position: relative;
	text-decoration-line: none;
	text-decoration-style: solid;
	z-index: 0;
	font-family: "Source Sans Pro"
} */
