.ull, li{
		position: relative;
		list-style: none;
		float: left;
}

.ull{
	padding: 0;
	margin-top: 30px;
}


.teamBackground{
	/* background-image: url(../image/kkr.jpg); */
	background-size: cover;
	background-position: relative;
	border-radius: 6px;
	margin-top: 30px;
	margin-left: 10px;

}

.teamBackground:hover{
	opacity: .6;
}



.teamCard{
  width: 300px;
  height: 340px;
  border-radius: 6px;
  display: inline-block;

}



.teamName{
	text-decoration-style: none;
	color: #fff;
	font-weight: solid;
	font-size: 28px;
	text-align: center;
	position: relative;
	top: 130px;
	font-family: sans-serif;
}


.teamLogo{
	width: 150px;
	height: 150px;
	position: absolute;
	left: 70px;
	top: -10px;
	border-radius: 100px 50px;
	border-right: 5px solid #fff;
	/* border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
	border-left: 1px solid #fff; */
}

.winner{
	text-decoration: none;
	color: gold;
	font-weight: solid;
	position: relative;
	text-align: center;
	top: 150px;
	border:2px solid gold;
	width: 40%;
	margin:0 auto;
	border-radius: 8px;
}
