.squadList{
  position:  absolute;
  border-top: 1px solid #fff;
  top: 54px;
  color: #fff;
  padding-left: 10px;
  margin-top: 7px;
  left: 0;
  width: 100%;
  margin-right: -2px;
  background-color: #2f2f2f;
  }

.squadList, h3{
  font-weight: normal;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  font-family: sans-serif;

}


.ull{
  position: absolute;
  list-style: none;
  top: 90px;
  display: inline-block;
  top: 100px;
  left: -20px;
}


.playerCard{
  position: relative;
  margin-top: 16px;
  height: 70px;
  width: 1250px;
  /* border: 1px solid black; */
  border-radius: 33px;
  background-color: #2f2f2f ;
}


.playerName{
  font-weight: normal;
  font-family: sans-serif;
  color: #fff;
  text-decoration: none;
  position:absolute;
  text-align: center;
  padding-left: 105px;
}

.playerType{
  color: #fff;
  text-decoration: none;
  position:absolute;
  padding-top: 20px;
  right: 90px;
  padding-left: 50px;
}

.playerPhoto{
  position : absolute;
  width: 80px;
  height: 80px;
  left: -5px;
  top:-5px;
  border-radius: 50px;
  border: 2px solid #fff;
}


.playerCard:hover{
  background-color: #3CB4f2;
}

.captain{
  position: absolute;
  color: whilte;
  right: -50px;
  /* z-index: 999; */
  top:-33px;
  font-size: 30px;

}
